<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Register</h2>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            <p>Already registered?</p>
            <a href="{% url 'patient:login' %}" class="btn btn-info">Login here</a>
        </form>

    </div>

    <!-- Bootstrap JS and dependencies (optional, for dropdowns, toggles, etc.) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
